/*reset---------------------------------------------------------------------*/

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/*colors and fonts---------------------------------------------------------*/

:root {

	--clr-aquamarine: hsl(158, 74%, 61%);
	--clr-light-aquamarine: hsl(157, 100%, 85%);
	--clr-dark-slate: hsl(225, 26%, 23%);
	--clr-medium-slate: hsl(225, 21%, 45%);
	--clr-light-steel-blue: hsl(225, 39%, 83%);


	--clr-dark-grey: rgba(19,24,38,1.000);
	--clr-white: hsl(0, 0%, 100%);


	--ff-Chivo: 'Chivo', sans-serif;

	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 900;

	--fs-light-body: 1.1rem;
	--lh-light-body: 1.8rem;

	--fs-light-title: 3.25rem;
	--lh-light-title: 3.875rem;

	--fs-bold-form: 0.9rem;
	--lh-bold-form: 1.8rem;

	--img-host-tablet: url('./assets/tablet/image-host.jpg');
	--img-dots: url('./assets/desktop/bg-pattern-dots.svg');
	--img-host-desktop: url('./assets/desktop/image-host.jpg');
	--img-apple-podcast-desktop: url('./assets/desktop/apple-podcast.svg');
	--img-google-podcast-desktop: url('./assets/desktop/google-podcasts.svg');
	--img-logo-deskstop: url('./assets/desktop/logo.svg');
	--img-pocket-podcast-desktop: url('./assets/desktop/pocket-casts.svg');
	--img-spotify-podcast-desktop: url('./assets/desktop/spotify.svg');

}
body {
/*	background-image: url('./assets/mobile/image-host.jpg');*/
/*	background-repeat: no-repeat;*/
/*	background-size: cover;*/
	font-family: var(--ff-Chivo);
}

.main {
	background-color: rgba(19,24,38,0.93);
	background-image: url('./assets/mobile/image-host.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	height: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	justify-items: center;
	gap: 2em;
}

.header {
	margin-top: 3.5rem;
}

.content {
	display: grid;
	grid-template-rows: 95px 105px 70px 120px;
	padding: 0 1.65rem;

}

h2 {
	font-weight: var(--fw-extra-light);
	font-size: 1.625rem;
	line-height: 2.375rem;
}

h2, p {
	text-align: center;
}

.title {
	color: var(--clr-aquamarine);
}

.everywhere {
	color: var(--clr-white);
}

.paragraph {
	color: var(--clr-light-steel-blue);
	font-size: 15px;
	line-height: 1.6rem;
	font-weight: var(--fw-extra-light);
	margin-bottom: 1rem;
}

.podcast-logos {
	height: 17px;
	display: flex;
	margin: auto;
	gap: 1.2em;
}

.google {
	margin: auto;
	max-width: 75px;
	max-height: 12px;
	width: auto;
	height: auto;
}

/*form---------------------------------------------------------*/


.form {
	display: grid;
	font-size: var(--fs-bold-form);
	line-height: var(--lh-bold-form);
	font-weight: var(--fw-bold);
	margin-top: 1.3rem;

}

input {
	border-radius: 50px;
	border: none;
	padding: .55rem 0;
}

.email-address {
	padding-left: 2rem;
	background: var(--clr-dark-slate);
}

.request-button {
	background: var(--clr-aquamarine);
	cursor: pointer;

}

input:focus {
	outline: none;
}

.email-address:focus {
	color: var(--clr-white);
}

.request-button:is(:hover, :focus) {
	background: var(--clr-light-aquamarine);
}

.email-alert {
	color: red;
	font-size: 13px;
	line-height: 16px;
	margin-left: 2rem;

}






@media (min-width: 768px) and (max-width: 1024px) {
	body {
		background-color: var(--clr-dark-grey);
		background-image: var(--img-host-tablet), var(--img-dots);
		background-position: right top, left bottom;
	}
}





























