/*reset---------------------------------------------------------------------*/

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/*colors and fonts---------------------------------------------------------*/

:root {

	--clr-aquamarine: hsl(158, 74%, 61%);
	--clr-dark-slate: hsl(225, 26%, 23%);
	--clr-medium-slate: hsl(225, 21%, 45%);
	--clr-light-steel-blue: hsl(225, 39%, 83%);


	--clr-dark-grey: hsl(224, 34%, 11%);
	--clr-white: hsl(0, 0%, 100%);


	--ff-Chivo: 'Chivo', sans-serif;

	--fw-300: 300;
	--fw-400: 400;
	--fw-700: 700;
	--fw-900: 900;

	--fs-light-body: 1.1rem;
	--lh-light-body: 1.8rem;

	--fs-light-title: 3.25rem;
	--lh-light-title: 3.875rem;

	--fs-bold-form: 0.9rem;
	--lh-bold-form: 1.8rem;

}